---
layout: default
title: Realtime Graphics | Anthony Hall
---
<h2>Realtime Graphics Projects</h2>
<p>Currently, most of my realtime graphics work are fragment shaders on my <a href="https://www.shadertoy.com/user/amhall/sort=newest" target="_blank">Shadertoy profile</a>. These works demonstrate skills in 3D math, optimization, optics, and technical creative problem solving. Here are some of the highlights (they're all mouse interactive!):</p>
<div class="gallery">
	{% include shader.html shader=site.data.shaders.tetra_fractal %}
	{% include shader.html shader=site.data.shaders.glass_mandelbrot %}
	{% include shader.html shader=site.data.shaders.cube_pixels %}
	{% include shader.html shader=site.data.shaders.kaleidocycles %}
</div>